{% extends 'book/base.html' %}

{% block content %}
  <h2><p>Hello {{profile.user.username}},</p>
      <p>Check out some of the titles that we have selected for you.</p>
      <p>Recommended books: </p>
    </h2>
          <div class="row">
        {% if recBooks %}
          {% for book in recBooks %}
          <div class="col-lg-2">
            <a href="{% url 'book_detail' idb=book.id %}">
              <img class="rounded-circle" src='{{book.cover.url}}' alt="Generic placeholder image" width="130" height="180">
            </a>
            <h5>{{book}}</h5>
              </div><!-- /.col-lg-4 -->
          {% endfor %}
        {% endif %}
        </div>
        <hr>
        <h2><p>Looking for more info about some specific book or just want to rate a book that you have already read? Use our search engine to find it.</p></h2>
        <form name="myform" method="GET" action="">
            <input id="search-field" type="text" name="search" placeholder="Search" value='{{request.GET.search}}' />
            <input id="search-button" type="submit" value="Search" />
        </form>
        <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
        {% if books %}
          {% for book in books %}
          <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <h3>{{book.title}}</h3>
                <div class="card-body">
                <img src='{{book.cover.url}}' class='img-responsive' height="300" width="200"/>
                  <p class="card-text">Author: {{book.author}}</p>
                  <p class="card-text">Language: {{book.language}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{% url 'book_detail' idb=book.id %}"><button type="button">See more</button></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}
        {% endif %}
      </div>
</div>
</div>

{% endblock %}
